doctype html
html(lang="es")
    include partials/_head
    body

        include partials/_header

        main
            p Refactorización de Directorios
            p Testing ...

        include partials/_footer

    include partials/_scripts